body {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    overflow-x: hidden;
}

:root { /*VARIABLES*/
    --heihgt-image: 65vh;
    --width-imge: 100%;
}

/*---------------- MAIN CONTAINER -------------------*/
.maincontainer {
    position:relative;
    width: 100%;
    max-width: 100%;
    margin: 0; 
    background-color: #fffefe;
    border: 1px solid #ccc;
    font-family:'Roboto', sans-serif;
    align-items: center center;
}
/*---------------- FIRST SECTION -------------------*/
.container1 {
    margin: 0 auto;
    width: 100%;
    min-height: auto;
    display: flex; /* Establece el contenedor como flexible */
    justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor con espacio entre ellos */
    align-items: center; /* Centra los elementos verticalmente en el contenedor */
    background-color: #fffefe;
    border: 1px solid #650ba5;
}

.container2 {
    margin: 0 auto;
    width: 80%;
    min-height: auto;
    display: flex; /* Establece el contenedor como flexible */
    justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor con espacio entre ellos */
    align-items: center; /* Centra los elementos verticalmente en el contenedor */
    background-color: #fffefe;
    /*border: 1px solid #c51010;*/
}

.container3 {
    width: 100%;
    min-height: auto;
    display: flex; /* Establece el contenedor como flexible */
    flex-direction: column; /* Distribuye los elementos a lo largo del contenedor con espacio entre ellos */
    align-items: center; /* Centra los elementos verticalmente en el contenedor */
    background-color: #fffefe;
    /*border: 1px solid #c51010;*/
}

.container4 {
    margin: 0 auto;
    width: 80%;
    min-height: auto;
    display: flex; /* Establece el contenedor como flexible */
    flex-direction: column; /* Distribuye los elementos a lo largo del contenedor con espacio entre ellos */
    align-items: center; /* Centra los elementos verticalmente en el contenedor */
    background-color: #fffefe00;
    /*border: 1px solid #c51010;*/
}

.container41 {
    margin: 0 auto;
    width: 100%;
    min-height: auto;
    display: flex; /* Establece el contenedor como flexible */
    justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor con espacio entre ellos */
    align-items: center; /* Centra los elementos verticalmente en el contenedor */
    background-color: #fffefe;
    border: 1px solid #650ba5;
}

.container42 {
    margin: 0 auto;
    width: 80%;
    min-height: auto;
    display: flex; /* Establece el contenedor como flexible */
    flex-direction: column; /* Distribuye los elementos a lo largo del contenedor con espacio entre ellos */
    align-items: center; /* Centra los elementos verticalmente en el contenedor */
    background-color: #fffefe;
    /*border: 1px solid #c51010;*/
}

.blackbackground {
    content: "";
    position: absolute;
    top: 0;
    left: 81vh;
    right: 0;
    bottom: 0;
    background-color: #101218;
    opacity: 0.7;
    z-index: 0;
}

.blackbackground2 {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #101218;
    opacity: 0.7;
    z-index: 0;
}

.image-container11 {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('images/OsorioTours.png'); /* Cambia 'background.jpg' con la ruta de tu imagen */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image-container21 {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 437px;
    display: flex;
    flex-direction: column;
    background-image: url('images/cenote1.jpeg'); /* Cambia 'background.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px;
    border-radius: 20px;
}

.image-container31 {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    background-image: url('images/tofit.jpeg'); /* Cambia 'background.jpg' con la ruta de tu imagen */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.image-container32 {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-image: url('images/calendariomaya.png'); /* Cambia 'background.jpg' con la ruta de tu imagen */
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

.image-containers41 {
    position: relative;
    width: 33.33%;
    min-height: 462px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-image: url('images/sedan.jpeg'); /* Cambia 'background.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out;
}

.image-containers42 {
    position: relative;
    width: 33.33%;
    min-height: 462px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-image: url('images/nissan.jpeg'); /* Cambia 'background.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out;
}

.image-containers43 {
    position: relative;
    width: 33.33%;
    min-height: 462px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-image: url('images/urvan.jpeg'); /* Cambia 'background.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out;
}

.image-containers44 {
    position: relative;
    width: 33.33%;
    min-height: 462px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    background-image: url('images/WhatsApp\ Image\ 2024-01-05\ at\ 9.39.18\ PM.jpeg'); /* Cambia 'background.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out;
}

.image-containers41:hover,
.image-containers42:hover,
.image-containers43:hover,
.image-containers44:hover {
    transform: scale(1.03); /* Aplica la transformación de escala al hacer hover */
    z-index: 1;
}

.image-containers41::before,
.image-containers42::before,
.image-containers43::before,
.image-containers44::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #101218;
    opacity: 0.74;
    transition: opacity 0.3s ease-in-out;
}

.image-containers41:hover::before,
.image-containers42:hover::before,
.image-containers43:hover::before,
.image-containers44:hover::before {
    opacity: 0.54;
}

.image-containerEMPTY {
    position: relative;
    width: 33.33%;
    min-height: 462px;
    display: flex;
    flex-direction: column;
    background-image: url('#'); /* Cambia 'background.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out;
}

.image-container51 {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    background-image: url('images/chichenlogoPAGE.jpg'); /* Cambia 'background.jpg' con la ruta de tu imagen */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-containers2 {
    text-align: left;
    color: #F3F5F5;
    padding-top: 10%;
    padding-right: 5%;
    padding-left: 5%;
    z-index: 2;
}

.text-containerblack{
    font-family:'Roboto', sans-serif;
    text-align: center;
    color: #292929;
    padding: 60px;
}

.text-containerwhite{
    font-family:'Roboto', sans-serif;
    text-align: left;
    color: #f3f5f5;
    z-index: 1;
    margin-left: 87vh;
    margin-top: 9vh;
}

.text-containerwhite51{
    font-family:'Roboto', sans-serif;
    text-align: left;
    color: #f3f5f5;
    z-index: 1;
    margin-right: 87vh;
    margin-top: 9vh;
}

.text-containerwhitenormal{
    font-family:'Roboto', sans-serif;
    text-align: left;
    color: #f3f5f5;
    z-index: 1;
}

.text-containerblacknormal{
    font-family:'Roboto', sans-serif;
    text-align: center;
    color: #292929;
    padding: 60px;
}

/*---------------- divider -------------------*/
.divider {
    margin: 0 auto;
    margin-top: 15vh;
    margin-bottom: 15vh;
    width: 30%;
    height: 1px;
    background-color: #757575; /* Color de la línea (negro en este caso) */
}

.maincontainer h2 {
    text-align: center;
    font-weight: 700;
    transform: scaleY(0.85);
    letter-spacing: -1.5px;
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
}

.maincontainer h3 {
    font-size: 28px;
    font-weight: 400;
}

.centered-text {
text-align: center;
}

.font-size-text {
    font-size: 44px;
}

.font-size-text41 {
    font-size: 28px;
}

.justified-text {
    text-align: justify;
}

.maincontainer p {
    font-weight: 300;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px; /* Ajusta el relleno según tus necesidades */
    background-color: #ffffff; /* Color de fondo blanco */
    border-radius: 20px; /* Bordes redondeados de 20px */
    text-decoration: none; /* Elimina la subrayado por defecto en los enlaces */
    color: #000000; /* Color del texto en negro */
    text-align: center;
    font-size: 16px; /* Ajusta el tamaño del texto según tus necesidades */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Agrega una transición suave al color de fondo y al texto */
}

.button-container {
    margin-top: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    z-index: 2;
}

.custom-button:hover {
    background-color: #000000; /* Color de fondo negro al hacer hover */
    color: #ffffff; /* Color del texto blanco al hacer hover */
}

@media only screen and (max-width: 768px) {
    .container2,
    .container41 {
        flex-direction: column; /* Cambia la dirección a vertical */
        align-items: center; /* Centra los elementos verticalmente */
    }

    .image-container11,
    .image-container31,
    .image-container51 {
        background-attachment: scroll;
    }

    .text-containerwhite,
    .text-containerwhite51 {
        margin-left: 0;
        margin-right: 0;
        margin-top: 3vh;
    }

    .text-containerblack {
        padding: 0;
    }

    .blackbackground {
        left: 0;
    }

    .divider {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .image-containers41,
    .image-containers42,
    .image-containers43 {
    width: 100%; /* Cambia el ancho al 100% en pantallas más pequeñas */
    }

    .image-containers44 {
        width: 100%; /* Cambia el ancho al 100% en pantallas más pequeñas */
        margin-top: 10px;
    }

    .image-containerEMPTY {
        width: 0%; /* Cambia el ancho al 100% en pantallas más pequeñas */
        min-height: 0px;
    }
}


